<div class="container-fluid  bs-body" >
    
    <div class="column">
        <div class="text-center" style="margin-top:20%">
        <h3>Access current weather data for any location on Earth including over 200,000 cities!
             The data is frequently updated based on the global and local weather models, satellites,
              radars and a vast network of weather stations.</h3>
            </div>
    </div>
    <div class="column">
        <mat-card style="height:50%;width: 75%; margin-left: 10%; margin-top: 10%; border: 1px solid brown;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.911);">
        <img src="../../assets/about.jpg"  style="height:100%;">
    </mat-card>
    </div>

</div>
